#wrapper {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fffff7;
}

main {
  color: #5e6c77;
  padding-top: 30px;
  padding-left: 40px;
}

header {
  background-color: #74aecc;
  color: #fff;
  height: 100px;
}

.header-logo {
  font-size: 28px;
  float: left;
  padding: 29px 40px;
}

h1 {
  margin-top: 0;
  font-size: 20px;
}

.form-box {
  margin-top: 30px;
}

label + input[type="radio"],
label + label {
  margin-left: 20px;
}

.battle-button {
  display: block;
  margin-top: 30px;
  position: relative;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #fff;
  background-color: #ff6768;
  border: solid 1px #ff3d35;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

footer {
  color: #fff;
  background-color: #5e6c77;
  height: 150px;
  text-align: center;
  line-height: 150px;
  margin-top: auto;
}